/* core-capabilities.module.css */

/* Wrapper with light blue background */
.coreCapabilitiesWrapper {
  background-color: #e6f7ff; /* Light blue background */
  padding: 4rem 1rem;
}

.coreCapabilitiesContainer {
  max-width: 80rem;
  margin: 0 auto;
}

.coreCapabilitiesTitle {
  font-size: 2.25rem;
  font-weight: bold;
  color: #1a202c;
  margin-bottom: 0.5rem;
  text-align: center; /* Default alignment is center */
}

.coreCapabilitiesSubtitle {
  font-size: 1.25rem;
  color: #4a5568;
  margin-bottom: 3rem;
  text-align: center; /* Default alignment is center */
}
.capabilitiesGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.capabilityCard {
  flex: 1 1 300px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 30px;
  text-decoration: none; /* Remove underline from link */
  color: inherit; /* Inherit text color */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.capabilityCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.iconWrapper {
  margin-bottom: 20px;
}

.capabilityIcon {
  width: 50px;
  height: 50px;
  color: #007BFF;
}

.capabilityTitle {
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-weight: bold;
}

.capabilityDescription {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #555;
}

.capabilityLink {
  display: flex;
  align-items: center;
}

.findOutMore {
  font-size: 1rem;
  color: #007BFF;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.findOutMore .arrowIcon {
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.findOutMore:hover .arrowIcon {
  transform: translateX(5px);
}